{% extends 'mrv/basic.html' %}

{% block title %}About | Mr.VaiBH{% endblock %}

{% block nav-about %}<li class="nav-item mt-1" role="presentation"><a class="nav-link active" href="/mrv/about">About Us</a></li>{% endblock %}

{% block nav %}

{% if user.is_authenticated or email.is_authenticated %}
<li class="nav-item dropdown no-arrow">
	<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-bell" style="font-size:25px;color:#478cdb"></i>
		<span class="badge badge-danger">9+</span>
	</a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</li>
<li class="nav-item dropdown no-arrow">
	<a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-th" style="font-size:25px;color:#478cdb;"></i>
		<span class="badge badge-danger">{{service_count}}</span>
	</a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="serviceDropdown">
		<style type="text/css">
			#tbl:hover{
				cursor: pointer;
				font-weight: bolder;
				background: #f8fcff;
				transition: all 0.3s;
			}
			.img {
				width: auto;
				height: 50px;
				background-repeat: no-repeat;
			}
		</style>
		<table class="table table-borderless mt-3">
		<tbody>
			<tr>
			{% for service in service %}
				<td id="tbl"><a href="{{service.url}}" title="{{service.description}}" style="text-decoration: none;"><img class="rounded border responsive img" src="{{service.service_img.url}}">{{service.name}}</a></td>
				
			{% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
			</tr>
			<tr>
				{% endif %}
			{% endfor %}
			</tr>
		</tbody>
		</table>
	</div>
</li>
<li class="nav-item dropdown no-arrow">
	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-user-circle-o" style="font-size:25px;color:#478cdb"></i>
	</a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
		<label class="dropdown-header">{{user.first_name}} {{user.last_name}}</label>
		<label class="dropdown-header">{{user.email}}</label>
		<a class="dropdown-item" href="/{{user.username}}"><i class="fa fa-user" aria-hidden="true"></i>
 Profile</a>
		<a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i>
 Settings</a>
		<a class="dropdown-item" href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
 Activity Log</a>
		<a class="dropdown-item" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>
 Help Desk</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="/accounts/login"><i class="fa fa-user-plus" aria-hidden="true"></i>
 Add another account</a>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out" aria-hidden="true"></i>
 Logout</a>
	</div>
</li>

{% else %}
<li class="nav-item mt-1" role="presentation"><a class="nav-link" href="/accounts/login">Login</a></li>
<li class="nav-item mt-1" role="presentation"><a class="nav-link" href="/accounts/register">Register</a></li>

{% endif %}
{% endblock %}

{% block body %}
{% load static %}

<main class="page">
	<section class="clean-block about-us">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">About Us</h2>
				<p>Welcome to MVC, your number one source for facinating things. We're dedicated to providing you the best product, with a focus on dependability, customer service and trust.</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-6 col-lg-4">
					<div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'mrv/assets/img/avatars/avatar1.jpg?h=2bf47f2c2deaed837d2490a2db0a7175' %}">
						<div class="card-body info">
							<h4 class="card-title">John Smith</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'mrv/assets/img/avatars/avatar2.jpg' %}">
						<div class="card-body info">
							<h4 class="card-title">Vaibhav Shukla</h4>
							<p class="card-text">Vaibhav Shukla aka Mr. VaiBH is an international entreprenuer.</p>
							<div class="icons"><a href="https://www.facebook.com/mrvaibh0" target="_blank"><i class="icon-social-facebook"></i></a><a href="https://instagram.com/mrvaibh0/" target="_blank"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/mrvaibh0" target="_blank"><i class="icon-social-twitter"></i></a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'mrv/assets/img/avatars/avatar3.jpg?h=4c77b34bb68eaede08fdd5dfec8752b0' %}">
						<div class="card-body info">
							<h4 class="card-title">Ally Sanders</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock %}
