{% extends 'mrv/basic.html' %}

{% block title %}Blog List | Mr.VaiBH{% endblock %}

{% block nav-blog %}<li class="nav-item mt-1" role="presentation"><a class="nav-link active" href="/mrvblog">Blog</a></li>{% endblock %}

{% block body %}
{% load static %}
<main class="page blog-post-list">
	<section class="clean-block clean-blog-list dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Blog Post List</h2>
				<p>All the blogs posted are below.</p>
			</div>
			<div class="block-content">
				<div class="clean-blog-post">
					<div class="row">
						<div class="col-lg-5"><img class="rounded img-fluid" src="{% static 'mrv/assets/img/tech/image4.jpg?h=0adc0de9a17a7caea6b8641f5d6ae02c' %}"></div>
						<div class="col-lg-7">
							<h3>Lorem Ipsum dolor sit amet</h3>
							<div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
								vitae leo.</p><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></div>
					</div>
				</div>
				<div class="clean-blog-post">
					<div class="row">
						<div class="col-lg-5"><img class="rounded img-fluid" src="{% static 'mrv/assets/img/tech/image4.jpg?h=0adc0de9a17a7caea6b8641f5d6ae02c' %}"></div>
						<div class="col-lg-7">
							<h3>Lorem Ipsum dolor sit amet</h3>
							<div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
								vitae leo.</p><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock %}