{% extends 'mrv/basic.html' %}

{% block title %}Contact | Mr.VaiBH{% endblock %}

{% block nav-contact %}<li class="nav-item mt-1" role="presentation"><a class="nav-link active" href="/mrv/contact">Contact</a></li>{% endblock %}

{% block body %}
{% load static %}

<main class="page contact-us-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Contact Us</h2>
				<p>Whether you have a question about features, trails, pricing, need a demo, or anything else, our team is ready to answer all your questions.</p>
			</div>
			<form>
				<div class="form-group"><label>Name</label><input class="form-control" type="text"></div>
				<div class="form-group"><label>Subject</label><input class="form-control" type="text"></div>
				<div class="form-group"><label>Email</label><input class="form-control" type="email"></div>
				<div class="form-group"><label>Message</label><textarea class="form-control"></textarea></div>
				<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
			</form>
		</div>
	</section>
</main>

{% endblock %}