{% extends 'livebit/base.html' %}

{% block title %}LiveBit{% endblock %}

{% block css %}

.img-post i:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.2s;
}

.img-post i {
  cursor: pointer;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 4px;
  position: absolute;
  left: 5%;
 }

.img-post{
	position: relative;
}
{% endblock %}


{% block body %}
<div id="follow-unfollow-section">
{% include 'livebit/friend-list.html' %}
</div>

{% for post in posts %}
<center>
<div class="card shadow text-left my-5" style="width: 600px;">
	<div class="card-body">
		<div class="row ml-1">
			<img src="media/{{post.user.userprofile.user_img}}" class="rounded-circle border mb-1 mr-2" onContextMenu="return false;" draggable="false" style="width: 40px;height: 40px;user-select: none;">
			<h6><a class="custmLink" style="text-decoration: none;" href="{{post.user}}">{{post.user}}</a></h6>
		</div>
		<i class="fas fa-ellipsis-h" style="float: right;margin-top: -36px;"></i>
		<h6 class="text-muted" style="margin-left: 50px;margin-top: -25px;">{{post.location}}</h6>
		<div class="img-post">
			<img class="mb-1" src="media/{{post.post_img}}" onContextMenu="return false;" draggable="false" style="width: 560px;user-select: none;">
			<i class="fas fa-user"></i>
		</div>
		
		<div id="like-section">
		{% include 'livebit/like-section.html' %}
		</div>
	</div>
</div>
</center>
{% endfor %}

{% endblock %}


{% block javascript %}
function check_resoln_search() {
	if ((window.screen.width)<670) {
		$('#user-input').hide();
	}else{
		$('#user-input').show();
	}
}
function check_resoln_sidecard() {
	if ((window.screen.width)<670) {
		$('#user-input').hide();
	}else{
		$('#user-input').show();
	}
}
check_resoln_search();
$(window).resize(function(){
	check_resoln_search();
});
{% endblock %}