.mh-100vh {
  min-height: 100vh;
}

#login-block {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  z-index: 2;
}

@media (max-width: 991.98px) {
  #login-block {
    opacity: .95;
  }
}

@media (max-width: 991.98px) {
  #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50%;
  }
}

#user-input {
  width: 200px;
  padding-left: 80px;
  box-sizing: border-box;
  border-radius: 5px;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 62px 7px;
  border: 1px solid;
}

#user-input:focus {
  outline: none;
  padding-left: 16px;
  background-position: 0;
  transition: all 0.2s ease-in-out;
}

#user-input::-webkit-search-cancel-button {
  content: "X";
  position: relative;
  right: 0px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgb(188,188,188);
}

.cursor-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.img-post {
  position: relative;
}

.img-post i {
  top: 94%;
  left: 5%;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 4px;
}

.img-post i:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.2s;
}

